<!DOCTYPE html>
<html>
<head>
    <title>Taxi Pool - Welcome</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login-container">
        <h1>Welcome to LOCO KA</h1>
        <p>Please choose an option:</p>
        <form action="/login">
            <button type="submit">Login</button>
        </form>
        <form action="/register">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
